{% extends '@ibexadesign/ui/modal/generic_form.html.twig' %}

{% block form_fields %}
    {{ parent() }}

    {# TODO: Remove inline styles #}
    <div class="form-group" style="margin-right: 20px">
        {{ form_label(form.size) }}
        {{ form_widget(form.size) }}
    </div>
    <div class="form-group">
        {{ form_label(form.quality) }}
        {{ form_widget(form.quality) }}
    </div>
{% endblock %}
